module.exports = {
  url: "https://stream.watsonplatform.net/text-to-speech/api",
  apiKey: "6paWqKGVsdsjodosd09879987987hkhkjh",
  voice: "pt-BR_IsabelaV3Voice",
  port: 3000,
  TOKENURL: 'https://westus.api.cognitive.microsoft.com/sts/v1.0/issueToken',
  BASEURL: 'https://westus.tts.speech.microsoft.com/',
  SPEECH_SERVICE_KEY: '273c449hsd83359effke322034aaa'
};